.nav {
    max-height: 80px;
    padding: 24px;
    border-bottom: 0.5px solid rgb(238, 238, 238);
}
@media (min-width: 375px) and (max-width: 825px) {
    .nav {
        padding: 12px;
        max-height: 120px;
        }
    .nav-link {
        flex-direction: column;
    }
    .nav-links {
        width: 100px;
    }
}

.nav-logo {
    height: 40px;
    width: 190px;
}

.nav-links {
    width: 300px;
}

.nav-links li {
    color: #4A4A4A;
    list-style-type: none;
}