.list-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 12px;
}

.card-group {
    margin-bottom: 8px;

    &:last-child,
    &>.card {
        margin-bottom: 0;
    }
}


.card {
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    border: 1px solid rgb(238, 238, 238);

    &-body {
        padding: 0;
    }

    &-image {
        height: 80px;
        width: 100px;
        margin: 12px;
    }

    &-title,
    &-text {
        margin: 0;
    }

}

.page-count,
span {
    font-size: 12px;
    margin: 0 8px;
}


@media (min-width: 375px) and (max-width: 825px) {
    .list-container {
        width: 100%;
        padding: 0;
        margin-top: 24px;
        margin-left: 0;
    }

    .card {

        &-title,
        &-text {
            font-size: 12px !important;
        }

    }
}