.card-image {
    height: 80px;
    width: 100px;
    margin: 12px;
}

.card {
    flex-direction: row;
    margin-bottom: 8px !important;
    align-items: flex-start;
    padding: 8px;
}

.card-body {
    padding: 0;
}

.card-title,
.card-text {
    margin: 0;
}

.page-count,
span {
    font-size: 12px;
    margin: 0 8px;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 24px;
}
@media (min-width: 375px) and (max-width: 825px) {
    .list-container {
        width: 100%;
    }
}