.home-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 12px;
}

@media (min-width: 375px) and (max-width: 825px) {
    .home-content {
        flex-direction: column;
    }
}

.home-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

.home-content p {
    font-size: 18px;
}