.home-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 12px;
}

.home-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

.home-content p {
    font-size: 18px;
}
